body{
    background-image: url('./img/universe.jpg');
   }

h1{
    color:red;
}
h2{
    color: aliceblue;
    text-align: center;
}
.jumbotron{
    background-image: url('./img/sw3.jpg');
    height: 400px;
    width: 100%;
}

#logo{
    background-image: url('./img/star-wars.svg');
}
